install/
.metadata/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*Makefile
AgrirouterClientTest
agrirouter_cert.pem
agrirouter_key.pem
agrirouter_priv.pem
device_id.txt
libAgrirouterClient.a
.project
.settings/
RemoteSystemsTempFiles/
.autotools
.cproject
Certs/
.vscode/
*~
agrirouter_ids.json